@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Fasthand&family=Fragment+Mono:ital@1&family=Freehand&family=Roboto:ital,wght@0,300;1,100&display=swap');

*{

  box-sizing: border-box;
}
body{
  margin:0 ;
  font-family: 'Courier New', Courier, monospace;
}
nav{
  background-color: rgb(89, 116, 0);
top:0
  position: sticky;
left: 0;
  width: 0;

}
nav ul{
  padding: 10px 15px;
  margin: 0;

  display: flex;
  justify-content: space-between;
}
nav ul li{
  list-style-type:none ;
  display: flex;
  list-style-type: none;


}
nav ul li a{
  color:black;
  padding: 15px 20px;
  text-decoration: none;
  transform: all 300ms;
}
nav ul li a:hover{
  background-color: darkgoldenrod;
 
  padding: 17px 20px;
}